<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.aepc.proyectoparcial1moviles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoParcial1Moviles">
        <activity android:name=".pantallaDatosEditar"></activity>
        <activity android:name=".pantallaResultados" />
        <activity android:name=".pantallaPerfilRandom" />
        <activity android:name=".pantallaMiPerfil" />
        <activity android:name=".pantallaDatosRegistro" />
        <activity android:name=".pantallaIntereses" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>